[submodule "Modules/jhub_cas_authenticator"]
	path = Modules/jhub_cas_authenticator
	url = https://github.com/jessesar/jhub_cas_authenticator
[submodule "Modules/SwarmSpawner"]
	path = Modules/SwarmSpawner
	url = https://github.com/jessesar/SwarmSpawner
