[submodule "Modules/jhub_cas_authenticator"]
	path = Modules/jhub_cas_authenticator
	url = https://github.com/jessesar/jhub_cas_authenticator
[submodule "Modules/SwarmSpawner"]
	path = Modules/SwarmSpawner
	url = https://github.com/jessesar/SwarmSpawner
[submodule "Hub/notebook-hub"]
	path = Hub/notebook-hub
	url = git@github.com:jessesar/notebook-hub.git
[submodule "Modules/uva-questions"]
	path = Modules/uva-questions
	url = https://github.com/jessesar/uva-questions
