* {
    font-family: "Helvetica Neue";
}

p {
    line-height: 1.3;
}

li {
    line-height: 1.5;
}

.normal {
    font-weight: normal;
}

.muted {
    color: #666;
    margin-top: 0px;
    margin-bottom: 16px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 6px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}

p {
    margin-top: 6px;
}